<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="git"/>
  <package id="vim"/>
  <package id="googlechrome" />
  <package id="7zip"/>
  <package id="Fiddler"/>
  <package id="FireFox"/>
  <package id="linqpad4"/>
  <package id="notepadplusplus"/>
  <package id="winrar"/>
  <package id="spacesniffer"/>
  <package id="NugetPackageExplorer"/>
  <package id="windirstat"/>
  <package id="ilspy"/>
  <package id="sysinternals"/>
  <package id="winmerge"/>
  <package id="keepass"/>
  <package id="rdcman"/>
</packages>
